*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:black;
    display:flex;
    justify-content:center;
    padding:20px;
}

.contenedor{
    width:420px;
    min-height:100vh;
    background:white;
    border-radius:30px;
    padding:25px;
    text-align:center;
}

.volver{
    padding:12px 20px;
    border:none;
    background:#2c7a4b;
    color:white;
    border-radius:10px;
    margin-bottom:20px;
    cursor:pointer;
}

img{
    width:220px;
}

h1{
    margin-top:20px;
    color:#2c7a4b;
}

p{
    margin-top:20px;
    line-height:32px;
    color:#555;
    font-size:20px;
}