*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:black;
    display:flex;
    justify-content:center;
    padding:30px;
}

.contenedor{
    width:420px;
    min-height:100vh;
    background:white;
    border-radius:30px;
    padding:20px;
}

h1{
    color:#7b5b3e;
    margin-bottom:10px;
}

h2{
    text-align:center;
    margin-bottom:25px;
    color:#2c7a4b;
}

.cards{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.card{
    background:#f5f5f5;
    border-radius:20px;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card img{
    width:100px;
}

.card h3{
    margin-top:10px;
    color:#2c7a4b;
}

.card p{
    margin-top:10px;
    color:#555;
    line-height:25px;
}