*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* FONDO */

body{
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* TELEFONO */

.phone{
    width:420px;
    height:780px;
    background:white;
    border-radius:35px;
    overflow:hidden;
    position:relative;
    box-shadow:0 5px 20px rgba(0,0,0,0.5);
}

/* PANTALLAS */

.screen{
    width:100%;
    height:100%;
    padding:30px 20px;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
    background:white;
}

.hidden{
    transform:translateX(100%);
}

/* LOGO */

.logo{
    text-align:center;
    margin-top:80px;
}

.logo img{
    width:260px;
}

.logo h1{
    color:#2c7a4b;
    margin-top:10px;
    font-size:48px;
}

.logo p{
    margin-top:15px;
    color:#555;
    font-size:24px;
    line-height:35px;
}

/* BOTON */

.btn{
    margin-top:40px;
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#2c7a4b;
    color:white;
    font-size:22px;
    cursor:pointer;
}

.btn:hover{
    background:#24663e;
}

/* FORMULARIO */

.form{
    margin-top:120px;
}

.form h2{
    text-align:center;
    color:#2c7a4b;
    margin-bottom:30px;
    font-size:38px;
}

.form ul{
    margin-bottom:30px;
    margin-left:20px;
    color:#444;
    line-height:40px;
    font-size:24px;
}

/* INPUT */

input{
    width:100%;
    padding:16px;
    margin-bottom:20px;
    border:2px solid #ccc;
    border-radius:12px;
    font-size:20px;
}

input:focus{
    outline:none;
    border-color:#2c7a4b;
}